{{ if .Site.Params.linkedinName }}
    <a class="bloglogo" href="https://www.linkedin.com/in/{{ .Site.Params.linkedinName }}" target="_blank">
        <i class="fa fa-linkedin" style="font-size:2em"></i>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.githubName }}
    <a class="bloglogo" href="https://github.com/{{ .Site.Params.githubName }}" target="_blank">
        <i class="fa fa-github" style="font-size:2em"></i>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.gitlabName }}
    <a class="bloglogo" href="https://gitlab.com/{{ .Site.Params.githubName }}" target="_blank">
        <i class="fa fa-gitlab" style="font-size:2em"></i>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.codepenName }}
    <a class="bloglogo" href="https://codepen.io/{{ .Site.Params.codepenName }}" target="_blank">
        <i class="fa fa-codepen" style="font-size:2em"></i>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.flickrName }}
    <a class="bloglogo" href="https://flickr.com/{{ .Site.Params.flickrName }}" target="_blank">
        <i class="fa fa-flickr" style="font-size:2em"></i>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.stackoverflowId }}
    <a class="bloglogo" href="https://stackoverflow.com/users/{{ .Site.Params.stackoverflowId }}" target="_blank">
        <i class="fa fa-stack-overflow" style="font-size:2em"></i>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.twitterName }}
    <a class="bloglogo" href="https://twitter.com/{{ .Site.Params.twitterName }}" target="_blank">
        <i class="fa fa-twitter" style="font-size:2em"></i>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.facebookName }}
    <a class="bloglogo" href="https://www.facebook.com/{{ .Site.Params.facebookName }}" target="_blank">
        <i class="fa fa-facebook" style="font-size:2em"></i>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.instagramName }}
    <a class="bloglogo" href="https://instagram.com/{{ .Site.Params.instagramName }}" target="_blank">
        <i class="fa fa-instagram" style="font-size:2em"></i>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.email }}
    <a class="bloglogo" href="mailto:{{ .Site.Params.email }}" target="_blank">
        <i class="fa fa-mail" style="font-size:2em"></i>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.pinterestName }}
    <a class="bloglogo" href="https://www.pinterest.com/{{ .Site.Params.pinterestName }}" target="_blank">
        <i class="fa fa-pinterest" style="font-size:2em"></i>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.googlePlusName }}
    <a class="bloglogo" href="https://google.com/+{{ .Site.Params.googlePlusName }}" target="_blank">
        <i class="fa fa-google-plus" style="font-size:2em"></i>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.keybaseName }}
    <a class="bloglogo" href="https://keybase.io/{{ .Site.Params.keybaseName }}" target="_blank">
        <img src="images/keybase.svg" height="40" width="40">
    </a>
&nbsp;
{{end}}
