<aside class="read-next">
  {{ with .NextInSection }}
    {{ if .Params.image }}
      {{ if or (eq (substr .Params.image 0 7) "http://") (eq (substr .Params.image 0 8) "https://") }}
        <a class="read-next-story prev" style="background-image: url({{ .Params.image }})" href="{{ .RelPermalink }}">
      {{ else }}
        {{ $nextCover := .Resources.GetMatch .Params.image }}
        <a class="read-next-story prev" style="background-image: url({{ if $nextCover }}{{ $nextCover.Permalink }}{{ else }}{{ .Params.image | relURL }}{{ end }})" href="{{ .RelPermalink }}">
      {{ end }}
    {{ else }}
      <a class="read-next-story prev no-cover" href="{{ .RelPermalink }}">
    {{ end }}
          <section class="post">
              <h2>{{.Title}}</h2>
              <!-- <p>{{ substr .Summary 0  }}</p> -->
          </section>
      </a>
  {{ end }}
  {{ with .PrevInSection }}
    {{ if .Params.image }}
      {{ if or (eq (substr .Params.image 0 7) "http://") (eq (substr .Params.image 0 8) "https://") }}
        <a class="read-next-story prev" style="background-image: url({{ .Params.image }})" href="{{ .RelPermalink }}">
      {{ else }}
        {{ $prevCover := .Resources.GetMatch .Params.image }}
        <a class="read-next-story prev" style="background-image: url({{ if $prevCover }}{{ $prevCover.Permalink }}{{ else }}{{ .Params.image | relURL }}{{ end }})" href="{{ .RelPermalink }}">
      {{ end }}
    {{ else }}
      <a class="read-next-story prev no-cover" href="{{ .RelPermalink }}">
    {{ end }}
          <section class="post">
              <h2>{{.Title}}</h2>
          </section>
      </a>
  {{ end }}
</aside>
